body {
    background-color: rgba(171, 171, 171, 0.849);
    
}

h1 {
    text-align:center;
    width: 100%;
    text-decoration: solid;
    text-transform: initial;
    font-size: 70px;
}

h2 {
    text-align:center;
    width: 100%;
    font-size: 40px;
}

section {
    display: flex;
    flex: 1;
    box-sizing: content-box;
}

article {
    display:flex;
    border: 5px white;
    border-radius: 10px;
    border-color:white;
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin-left: 10px;
    margin-right: flex;
}

#img {
    width: 100%;
	height : auto;
	max-height : 200px;
	display: block;

}

.bouton {
    background-color:rgb(220 0 0 / 100%);
    background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 20%),
    rgb(0 0 0 / 20%) 30%,
    rgb(0 0 0 / 0%)
    );
    font-size: 40px;
    border-width: 10px;

}

.bouton:hover {
    background-color: rgb(255 0 0 / 100%);
  }

.bouton:active {
    box-shadow:
      inset -2px -2px 3px rgb(255 255 255 / 60%),
      inset 2px 2px 3px rgb(0 0 0 / 60%);
  }